name: k3s Testing
on:
  push:
    branches:
      - 'fix/**'
      - 'master'
      - 'main'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: debianmaster/actions-k3s@v1.0.1
      id: k3s
      with:
        version: 'v0.9.1'
    - run: |
        kubectl get nodes

